.header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid darkslategrey;
  margin-block-end: 1em;
}

.author {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 300;
  color: slategrey;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  @media (min-width: 641px) {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
}

.aside {
  img {
    width: 100%;
  }
}

.section {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;

  @media (min-width: 641px) {
    width: 50%;
  }

  @media (min-width: 981px) {
    width: 60%;
  }
}

.places {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin: 0;
  padding: 0.8rem;
  list-style: none;
  background-color: #f0f0f0;

  li {
    display: flex;
    gap: 0.4rem;
  }

  .icon {
    font-size: 1.3rem;
  }

  .address {
    font-style: normal;
  }
}
