.button {
  border: none;
  border-radius: 0;
  padding: 0.6rem 0.8rem;

  &:not(:disabled) {
    cursor: pointer;
  }

  &--primary {
    background-color: var(--brand-color-primary-dark);
    color: var(--brand-color-primary-inverse);

    &:disabled {
      background-color: var(--color-neutral-40);
    }

    &:not(:disabled):hover {
      background-color: var(--brand-color-primary-base);
    }
  }
}
