@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Urbanist:300&amp;display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

main#root {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.main-header {
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}

.app-logo {
  display: inline-flex;
  gap: 0.8rem;
  align-items: flex-end;
  margin-right: auto;
  font-size: 2.2rem;
  font-family: "Urbanist", sans-serif;
  font-weight: 300;
  color: hsla(200, 10%, 100%, 1);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 0.75;
  white-space: nowrap;
}

.navigation {
  &__container {
    padding: 0.8rem 0;
    background-color: rgba(238, 238, 238, 0.8);
    backdrop-filter: saturate(180%) blur(16px);
  }

  &__items {
    display: flex;
    gap: 0.8rem;
    align-items: flex-end;
  }

  &__item {
    color: hsla(200, 10%, 0%, 1);

    &:last-child {
      margin-left: auto;
    }
  }
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1.page-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  font-weight: 500;
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  min-height: 0;
}
