:root {
  --color-neutral-00: hsl(200, 10, 100%);
  --color-neutral-20: hsl(200, 10, 80%);
  --color-neutral-40: hsl(200, 10, 60%);
  --color-neutral-60: hsl(200, 10, 40%);
  --color-neutral-80: hsl(200, 10, 20%);
  --color-neutral-90: hsl(200, 10, 10%);
  --color-neutral-100: hsl(200, 10, 0%);

  --brand-color-primary-light: var(--color-neutral-60);
  --brand-color-primary-base: var(--color-neutral-80);
  --brand-color-primary-dark: var(--color-neutral-100);
  --brand-color-primary-inverse: var(--color-neutral-00);

  --header-height: 7rem;
  --sketch-box-card-title-font-weight: 300;
  --venues-map-height: 20rem;
}

@media (min-width: 641px) {
  :root {
    --venues-map-height: 30rem;
  }
}
